
# 타이타닉 데이터

## 문제
다음은 캐글에서 제공하는 ‘타이타닉’ 데이터를 불러와서 분석하는 프로그램의 일부이다. 주석의 내용이 출력되도록 빈칸을 완성해보자.
```
• survived : 생존=1, 죽음=0
• pclass : 승객 등급. 1등급=1, 2등급=2, 3등급=3
• sibsp : 함께 탑승한 형제 또는 배우자 수
• parch : 함께 탑승한 부모 또는 자녀 수
• ticket : 티켓 번호
• cabin : 선실 번호
• embarked : 탑승 장소. S=Southhampton, C=Cherbourg, Q=Queenstown
```

## 주의
반드시 print() 함수를 사용하여 해당 데이터를 출력해주세요.

In [9]:
#답안
import seaborn as sns
df = sns.load_dataset('titanic') 

# 데이터의 첫 7줄 출력
print(df.head(7))

# 빈 데이터의 칼럼별 합계 확인
print(df.isnull().sum() )

# 생존 여부(survived)의 값별 인원 확인
print(df['survived'].value_counts())

# 성별(sex)에 따른 생존여부(survived)의 평균(=생존율)
print(df.groupby('sex')['survived'].mean())

# 승객등급(pclass)에 따른 생존여부(survived)의 평균(=생존율)
print(df.groupby('pclass')['survived'].mean())

# 성별(sex), 승객등급(pclass)에 따른 생존여부(survived)의 평균(=생존율)
print(df.groupby(['sex', 'pclass'])['survived'].mean())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third
5         0       3    male   NaN      0      0   8.4583        Q  Third
6         0       1    male  54.0      0      0  51.8625        S  First

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
5    man        True  NaN   Queenstown    no   True
6    man        True    E  Southampton    no   True
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
survived
0    549
1    342
Name: count, dtype: int64
sex
female    0.742038
male      0.188908
Name: survived, dtype: float64
pclass
1    0.629630
2    0.472826
3    0.242363
Name: survived, dtype: float64
sex     pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: survived, dtype: float64

In [ ]:
#스켈레톤
import seaborn as sns
df = sns.load_dataset('titanic') 

# 데이터의 첫 7줄 출력
print( ##코드를 작성해주세요## )

# 빈 데이터의 칼럼별 합계 확인
print( ##코드를 작성해주세요## )

# 생존 여부(survived)의 값별 인원 확인
print(df['survived'].value_counts())

# 성별(sex)에 따른 생존여부(survived)의 평균(=생존율)
print(df.groupby('sex')['survived'].mean())

# 승객등급(pclass)에 따른 생존여부(survived)의 평균(=생존율)
print( ##코드를 작성해주세요## )

# 성별(sex), 승객등급(pclass)에 따른 생존여부(survived)의 평균(=생존율)
print( ##코드를 작성해주세요## )

In [ ]:
#test case
#input
#output

#input
#output

#input
#output

#input
#output

#input
#output